
    <h3>Author: {{ user.username }}</h3>
    <h1>Title: {{ title }}</h1>
    <p>Post: {{ blogPost }}</p>
    <p>Created: {{format_date createdAt }}</p>
    <div>
        {{#each comments as |comment|}}
            <div>
                <p>{{comment.comment}}</p>
                <p>{{format_time comment.createdAt}}</p>
            </div>
        {{/each}}
    </div>
    <div class="commentSubmit">
        <form class="newCommentForm">
            <label for="commentPost">User Comment:</label>
            <input class="form-input" type="text" id="commentPost" name="commentPost" />
            <button type="submit" id="postBtn" value={{ id }}>Submit</button>
        </form>
    </div>
    
<script
src="/js/post.js">
</script>